* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #0a668a;
    color: #fff;
  }
  
  
  nav {
    display: flex;
    background-color: #7fc3d8;
  }
  
  nav a {
    color: #195d85;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  #about-me {
    flex: 1;
    background-color: #195d85;
    padding: 60px;
    text-align: center;
  }
  
  
  .center {
    display:box;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 25%;
  }
  
  footer {
    padding: 15px;
    text-align: center;
    background: #7fc3d8;
    color: #fff;
  }
  
  .products {
    flex: 4;
    background-color: #195d85;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-1 {
    position:absolute;
    flex: 2;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    
  }
  
  .card {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 20px;
    flex: 0 0 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
    
  }
  
  .card img {
    width: 100%;
    height: 60%;
  }
  
  .contact-me {
    padding: 10px;
    font-size: 100px;
    background-color: #7fc3d8
  }
  
  header li{
    font-size: 20px;
    line-height: 1.5
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }