body{
  background-image: url(../images/backgroundIMG.jpg);
  background-size: cover;
  background-attachment: fixed; 
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 2rem
  

}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  margin: 1rem
}

h2 {
  text-align: center;
}


main {
  display: flex;
  flex-wrap: wrap;
}

#about-me {
  flex: 1;
  padding: 50px;
  text-align: center;
  background-color: #feff9c;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  margin-left: 5rem;
}

.headshot {
  margin-top: 5rem;
  border-radius: 10px;
}


footer {
  margin: 2rem;
  text-align: center;
  
}

.products {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.card {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 20px;
  flex: 0 0 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #feff9c;
  
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
  
}

.card img {
  width: 100%;
  height: 60%;
}





/* For screens between 768px and 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  h1 {
    font-size: 60px;
    margin: 0.75rem;
  }

  #about-me {
    flex: 1 1 100%;
    margin: 2rem 0;
  }

  .headshot {
    margin-top: 2rem;
  }

  .card {
    flex: 0 0 calc(50% - 2rem);
    margin: 1rem;
  }
}

@media only screen and (max-width: 767px) {

  h1 {
    font-size: 50px;
    margin: 0.5rem;
  }

  body {
    justify-content: center;
    padding: 0;
    margin: 1;

  }

  #about-me {
    margin: 0;
    justify-content: center;
  }


  .headshot {
    margin-top: 2rem;
  }

  .card {
    flex: 0 0 100%;
    margin: 1rem 0;
  }

  .products {
    padding: 2rem;
  }
}
